<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.mybatis01.mapper.UserMapper">
    
    <resultMap id="userMap" type="com.zking.mybatis01.model.TSysUser">
        <id column="userid" property="userid" javaType="java.lang.Integer"/>
        <result column="username" property="username" javaType="java.lang.String"/>
        <result column="PASSWORD" property="password" javaType="java.lang.String"/>
        <result column="salt" property="salt" javaType="java.lang.String"/>
        <result column="createdate" property="createdate" javaType="java.util.Date"/>
    </resultMap>

    <select id="load" resultMap="userMap">
        select userid, username, PASSWORD, salt, createdate 
        from t_sys_user t 
        where t.username = #{userName}
    </select>

</mapper>